//Import others SASS files
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&family=Lato:wght@100;300;400;700&family=Open+Sans&family=Roboto&family=Smooch+Sans:wght@100;300;400;700&display=swap");
@import "./_reset.scss";
@import "./_variables.scss";
@import "./_maps.scss";

//functions and mixings
@function fSizes($size) {
  @return map-get($font-sizes, $size);
}

@function fFamily($family) {
  @return map-get($font-family, $family);
}

@function fWeights($weight) {
  @return map-get($font-weights, $weight);
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//adding gradient to body
//https://uigradients.com

body {
  font-family: fFamily(lato);
  background: #c21500; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #00416a,
    #e4e5e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #00416a,
    #e4e5e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: fFamily(smooch);
  font-size: fSizes(xx-large);
}

.main {
  width: 80%;
  margin: 10% auto;
  padding: 2em;
  background-color: #fff;
  & .container {
    //responsive table
    overflow-x: auto;
  }

  form {
    width: 100%;
  }

  label {
    @include flexCenter();
    & div {
      width: 20%;
      @include flexCenter();
      padding: 0.5em;
      background-color: $blue;
      min-height: 60px;
      font-size: fSizes(medium);
      border-radius: 0 0.3rem 0.3rem 0;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: $dark-blue;
      }
      & .fa-solid {
        transition: all 0.4s ease-in-out;
        &:hover {
          transform: translateX(10px);
        }
      }
    }
    input {
      display: block;
      width: 80%;
      background-color: #bee5e3;
      padding: 0.5em;
      min-height: 60px;
      font-size: fSizes(medium);
      border-radius: 0.3rem 0 0 0.3rem;
      transition: all 0.15s ease-in-out;
      &::placeholder {
        color: $dark;
      }
      &:focus {
        border: 5px solid transparent;
        border-radius: 0.3rem;
        background-color: #fff;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
    }
  }
  & .alert {
    width: 100%;
    height: auto;
    opacity: 1;
    margin: 1em auto;
    padding: 1em;
    border-radius: 0.3rem;
    background-color: $pink;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: all .3s linear;
    & .fa-rectangle-xmark {
      font-size: fSizes(large);
      &:hover{
        color: $dark;
      }
    }
  }
}
table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 0.3rem;
  margin: 2em auto;
  & tr{
    background-color: #f6f6f6;
  }
  & tr:nth-of-type(odd){
    background-color: #e9e9e9;
  }
  & th{
    background-color: #2980b9;
    padding: .5em;
    font-weight: fWeights(bold);
    font-size: fSizes(large);
    text-transform: capitalize;
  }
  & th:first-child{
    border-radius: .3rem 0 0 0 ;
  }
  & th:last-child{
    border-radius: 0 .3rem 0 0 ;
  }
  & td{
    font-family: fFamily(fredoka);
    padding: .8em;
  }
  & td:first-child{
    width: 70%;
    font-size: fSizes(large);
  }
  & td:nth-child(2), & td:nth-child(3){
    width: 15%;
    font-size: fSizes(medium);
  }
  & .fa-2x{
    font-size: 1.3em;
    color: $yellow;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
      color: $light-yellow;
    }
  }
  & td:nth-child(3) .fa-2x{
    color: $red;
  }
  & td:nth-child(3) .fa-2x:hover{
    color: $dark-red;
  }
  & .fa-circle-check{
    color: $green;
    margin: 0 15px 0 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover{
      color: $teal;
      transform: scale(1.2);
    }
  }
}
.dismissible{
  opacity: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  transition: all .3s linear;
}

.editable{
  background-color: #fff;
  display: inline-block;
  padding: .3em;
  border-radius: .3rem;
  margin: .3em 0 0 0;
}